fastapi       # For creating the RESTful API
uvicorn       # ASGI server to run the FastAPI app
transformers   # For loading and using the Florence-2 model from Hugging Face
torch            # PyTorch, required for running Florence-2 model
Pillow        # Image processing library, useful for handling image inputs
requests       # HTTP client library, for making requests to the API
supervision     # Detection processing


#additional Florence2 utilities
einops
python-multipart

#pip install -U transformers

